.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
}

.dialogsItems {
	padding: 10px;
}

.dialog {
}

.dialog a {
	color: #000;
	text-decoration: none;
}

a.active {
	color: gold;
}

.messages {
	padding: 10px;
}

.message {
}
